In [17]:
import pyranges as pr

## Get only known genes

In [32]:
df = pr.read_gtf('flair_filter_transcripts.gtf', as_df=True)

In [33]:
print(len(df.index))
df = df.loc[df.gene_id.str.contains('ENSG')]
print(len(df.index))

962547
951905

In [34]:
df.head()

,Chromosome,Source,Feature,Start,End,Score,Strand,Frame,gene_id,transcript_id,exon_number
12,chr10,FLAIR,transcript,5498696,5499570,.,-,.,ENSG00000178372.7,6168c158-18b2-4590-92f6-c1c968c4b3cb_ENSG00000...,NaN
13,chr10,FLAIR,exon,5498696,5499570,.,-,0,ENSG00000178372.7,6168c158-18b2-4590-92f6-c1c968c4b3cb_ENSG00000...,0
28,chr10,FLAIR,transcript,14877700,14878678,.,-,.,chr10:14873000_ENSG00000272853.1,c81d16e1-be22-46bf-b4a3-27d127f5c5b9,NaN
29,chr10,FLAIR,exon,14877700,14878678,.,-,0,chr10:14873000_ENSG00000272853.1,c81d16e1-be22-46bf-b4a3-27d127f5c5b9,0
34,chr10,FLAIR,transcript,22252065,22255955,.,+,.,chr10:22252000_ENSG00000279631.1,7be43b56-a050-448a-8d71-324d0c33b516,NaN

In [35]:
inds = df.loc[df.gene_id.str.contains('chr')].index.tolist()
df.loc[inds, 'gene_id'] = df.loc[inds, 'gene_id'].str.split('_', n=1, expand=True)[1]

In [36]:
df.head()

,Chromosome,Source,Feature,Start,End,Score,Strand,Frame,gene_id,transcript_id,exon_number
12,chr10,FLAIR,transcript,5498696,5499570,.,-,.,ENSG00000178372.7,6168c158-18b2-4590-92f6-c1c968c4b3cb_ENSG00000...,NaN
13,chr10,FLAIR,exon,5498696,5499570,.,-,0,ENSG00000178372.7,6168c158-18b2-4590-92f6-c1c968c4b3cb_ENSG00000...,0
28,chr10,FLAIR,transcript,14877700,14878678,.,-,.,ENSG00000272853.1,c81d16e1-be22-46bf-b4a3-27d127f5c5b9,NaN
29,chr10,FLAIR,exon,14877700,14878678,.,-,0,ENSG00000272853.1,c81d16e1-be22-46bf-b4a3-27d127f5c5b9,0
34,chr10,FLAIR,transcript,22252065,22255955,.,+,.,ENSG00000279631.1,7be43b56-a050-448a-8d71-324d0c33b516,NaN

In [31]:
len(df.loc[df.gene_id.str.contains('chr')].index)

770

In [28]:
len(df.loc[~df.transcript_id.str.contains('ENST')].index)

738165

In [26]:
df.loc[(df.gene_id.str.contains('chr'))&~(df.transcript_id.str.contains('ENST'))].head()

,Chromosome,Source,Feature,Start,End,Score,Strand,Frame,gene_id,transcript_id,exon_number
2,chr1,FLAIR,transcript,1232253,1235041,.,+,.,chr1:1232000_ENSG00000176022.4,a9ca82a1-c1d2-4d0a-bcff-672c3e94ba81,NaN
3,chr1,FLAIR,exon,1232253,1235041,.,+,0,chr1:1232000_ENSG00000176022.4,a9ca82a1-c1d2-4d0a-bcff-672c3e94ba81,0
4,chr1,FLAIR,transcript,6393509,6394391,.,+,.,chr1:6393000_ENSG00000271746.1,a1359d21-b10f-4022-8db8-9bc0e9407d12,NaN
5,chr1,FLAIR,exon,6393509,6394391,.,+,0,chr1:6393000_ENSG00000271746.1,a1359d21-b10f-4022-8db8-9bc0e9407d12,0
10,chr1,FLAIR,transcript,23080845,23084727,.,+,.,chr1:23080000_ENSG00000004487.15,13906ae4-0e7e-4e90-88b8-c8fe4b07f94c,NaN

In [23]:
df = pr.PyRanges(df)

In [ ]:
## oTher stuff

In [18]:
df = pr.read_gtf('flair_filter_transcripts.gtf')

In [19]:
df = df.as_df()

In [20]:
df.head()

,Chromosome,Source,Feature,Start,End,Score,Strand,Frame,gene_id,transcript_id,exon_number
0,chr1,FLAIR,transcript,785781,787672,.,+,.,ENSG00000237491.8,c0e70edb-ee9e-4863-b844-af03092e0afe,NaN
1,chr1,FLAIR,exon,785781,787672,.,+,1862,ENSG00000237491.8,c0e70edb-ee9e-4863-b844-af03092e0afe,0
2,chr1,FLAIR,transcript,1013422,1014541,.,+,.,chr1:1013000,f940fb0a-3c9b-4989-b060-7adc659c4467_chr1:1013000,NaN
3,chr1,FLAIR,exon,1013422,1014541,.,+,0,chr1:1013000,f940fb0a-3c9b-4989-b060-7adc659c4467_chr1:1013000,0
4,chr1,FLAIR,transcript,1232253,1235041,.,+,.,chr1:1232000_ENSG00000176022.4,a9ca82a1-c1d2-4d0a-bcff-672c3e94ba81,NaN

In [11]:
genes = df[['gene_id']].drop_duplicates()
genes['gene_novelty'] = 'Novel'
genes.loc[genes.gene_id.str.contains('ENSG'), 'gene_novelty'] = 'Known'
genes.groupby('gene_novelty').count()

              gene_id
gene_novelty
Known           16274
Novel            4793

In [15]:
ts = df[['transcript_id']].drop_duplicates()
ts['transcript_novelty'] = 'Novel'
ts.loc[ts.transcript_id.str.contains('ENST'), 'transcript_novelty'] = 'Known'
ts.groupby('transcript_novelty').count()

                    transcript_id
transcript_novelty
Known                       21393
Novel                       72325

In [16]:
ts.loc[ts.transcript_novelty == 'Novel']

                                            transcript_id transcript_novelty
0                    c0e70edb-ee9e-4863-b844-af03092e0afe              Novel
2       f940fb0a-3c9b-4989-b060-7adc659c4467_chr1:1013000              Novel
4                    a9ca82a1-c1d2-4d0a-bcff-672c3e94ba81              Novel
6       ffcf6444-2d57-4390-a915-c658140698f5_chr1:1318000              Novel
8                    8cd8c06a-ed11-405f-9955-efe2ea3df6bf              Novel
...                                                   ...                ...
962433  6c0c928d-51d1-4083-9382-37fdd1dc7124_ENSG00000...              Novel
962460  022b0ce1-a05a-43f4-a43b-64b84d7c5b49_ENSG00000...              Novel
962466  ec1fae0e-8321-49b9-846b-ac185a689b42_ENSG00000...              Novel
962472  924b8dec-fc8b-49be-a5c9-299e8e31443e_ENSG00000...              Novel
962521               02eb4919-694b-4bf3-96db-621db54048c6              Novel

[72325 rows x 2 columns]