In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('human_bru_abundance_swan.tsv', sep='\t')
df = df.transpose()

In [6]:
df.reset_index(inplace=True)

,index,0,1,2,3,4,5,6,7,8,...,239807,239808,239809,239810,239811,239812,239813,239814,239815,239816
0,transcript_id,ENCODEHT000207067,ENCODEHT000207076,ENCODEHT000207096,ENCODEHT000207194,ENCODEHT000207204,ENCODEHT000207265,ENCODEHT000207291,ENCODEHT000207301,ENCODEHT000207346,...,ENST00000650628.1,ENST00000650629.1,ENST00000650630.1,ENST00000650631.1,ENST00000650632.1,ENST00000650633.1,ENST00000650634.1,ENST00000650635.1,ENST00000650636.1,ENST00000650637.1
1,a673_0h,23,12,1,7,0,0,3,0,9,...,0,14,0,0,163,0,0,0,0,4
2,a673_2h,214,49,5,18,26,4,0,0,26,...,0,7,0,0,1183,0,0,2,1,56
3,a673_6h,243,63,7,55,25,4,1,0,93,...,0,6,0,1,3407,0,36,0,0,169
4,caco2_0h,28,2,1067,11,0,0,0,18,15,...,0,26,14,0,0,0,0,0,1,0

In [7]:
df.rename({'index': 'dataset'}, axis=1, inplace=True)
df.head()

,dataset,0,1,2,3,4,5,6,7,8,...,239807,239808,239809,239810,239811,239812,239813,239814,239815,239816
0,transcript_id,ENCODEHT000207067,ENCODEHT000207076,ENCODEHT000207096,ENCODEHT000207194,ENCODEHT000207204,ENCODEHT000207265,ENCODEHT000207291,ENCODEHT000207301,ENCODEHT000207346,...,ENST00000650628.1,ENST00000650629.1,ENST00000650630.1,ENST00000650631.1,ENST00000650632.1,ENST00000650633.1,ENST00000650634.1,ENST00000650635.1,ENST00000650636.1,ENST00000650637.1
1,a673_0h,23,12,1,7,0,0,3,0,9,...,0,14,0,0,163,0,0,0,0,4
2,a673_2h,214,49,5,18,26,4,0,0,26,...,0,7,0,0,1183,0,0,2,1,56
3,a673_6h,243,63,7,55,25,4,1,0,93,...,0,6,0,1,3407,0,36,0,0,169
4,caco2_0h,28,2,1067,11,0,0,0,18,15,...,0,26,14,0,0,0,0,0,1,0

In [8]:
df[['sample', 'timepoint']] = df.dataset.str.split('_', expand=True)

In [9]:
df.head()

,dataset,0,1,2,3,4,5,6,7,8,...,239809,239810,239811,239812,239813,239814,239815,239816,sample,timepoint
0,transcript_id,ENCODEHT000207067,ENCODEHT000207076,ENCODEHT000207096,ENCODEHT000207194,ENCODEHT000207204,ENCODEHT000207265,ENCODEHT000207291,ENCODEHT000207301,ENCODEHT000207346,...,ENST00000650630.1,ENST00000650631.1,ENST00000650632.1,ENST00000650633.1,ENST00000650634.1,ENST00000650635.1,ENST00000650636.1,ENST00000650637.1,transcript,id
1,a673_0h,23,12,1,7,0,0,3,0,9,...,0,0,163,0,0,0,0,4,a673,0h
2,a673_2h,214,49,5,18,26,4,0,0,26,...,0,0,1183,0,0,2,1,56,a673,2h
3,a673_6h,243,63,7,55,25,4,1,0,93,...,0,1,3407,0,36,0,0,169,a673,6h
4,caco2_0h,28,2,1067,11,0,0,0,18,15,...,14,0,0,0,0,0,1,0,caco2,0h